:root {
  --coo-layout-secondary-column-width: 20rem;
  --coo-right-sidebar-width: 40rem;
}


html {
  font-size: 14px;

  body {
    height: 100%;
    overflow: hidden !important;
    margin: 0;
  }
}