:root {
  --coo-layout-secondary-column-width: 20rem;
  --coo-right-sidebar-width: 40rem;
}


html {
  font-size: 14px;

  body {
    height: 100%;
    overflow: hidden !important;
    margin: 0;
  }
}

.c-project-config-menu {
  .ant-dropdown-menu-item-group-title {
    padding: 0.75rem 1rem 0.25rem;
    color: var(--coo-text-color-secondary);
    font-size: var(--coo-font-size-s);
  }
}